
{% if fields.title.content is not null %}


    <div data-p="172.50" class="sliderDiv" >
        {{ fields.field_image.content }}
        <div class="newSlideJssor">


            <span class="typeDisplayTitre">{{ fields.title.content }}</span>
            <br>
            {% if fields.field_sous_titre.content is not null %}
                <span class="typeDisplaySousTitre">{{ fields.field_sous_titre.content }}</span>
            {% endif %}
    {% if fields.field_url.content is not null %}
            <a href="{{ fields.field_url.content }}" class="righted">

                 {% if fields.field_image_band.content %}
                    {{  fields.field_image_band.content }}
                 {% else %}
                     {{  fields.field_tite.content }}
                 {% endif %}
            </a>
        </div>
        {% endif %}

    </div>




{% endif %}